<script type="text/html" id="tmplGrid">
    <table class="table table-striped">
        <thead>
            <tr data-bind="foreach:Configuration.ColumnDefinitions">
                <th data-bind="text:Title"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: {data:Rows, as:'Row'}">
            <tr data-bind="foreach: {data:$parent.Configuration.ColumnDefinitions, as:'colDef'}">
               
                <td data-bind="template: { name:function(){return 'tmplGridCol'+colDef.Type;}, data:{ColumnDefinition:colDef, Row:Row}}"></td>
                
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="tmplGridColString">
    <span data-bind="text:$data.Row[$data.ColumnDefinition.Key]"></span>
</script>

<script type="text/html" id="tmplGridColNumber">
    <span data-bind="text:$data.Row[$data.ColumnDefinition.Key]"></span>
</script>

<script type="text/html" id="tmplGridColButton">
    <span class="btn btn-default" data-bind="text:$data.ColumnDefinition.Data.text, click:$data.ColumnDefinition.Data.handler($data.Row)"></span>
</script>